body{
    margin: 0;
}
header{
    float: left;
    width: 100%;
    background-color: #212B36;
    color: #fff;
    padding: 20px;
}
footer{
    float: left;
    width: 100%;
   
    margin-top: 50px;
    padding: 60px;  
}
main{
    float: left;
    width: calc(100% -100px);
    padding: 0 50px;
}
.menuad{
     text-decoration: none;
}